#main_menu {
    text-align: center;
}

#main_menu ul {
    display: inline-block;
    float: none;
}

#main_menu ul li {
    text-transform: lowercase;
    color: #8FC549;
}

#main_menu ul li a {
    color: #8FC549;
    margin-top: 0;
    padding: 22px 15px 8px;
    border-bottom: solid transparent 2px;
}

#main_menu ul li a:hover {
    color: #EB353D;
    border-color:#EB353D;
}

.boddy {
	margin: 0;
}

.btn-success {
    color: #8FC549;
    background-color: white;
    border-color: #8FC549;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 3px;
    border-radius: 2px;
}

.btn-success:hover {
    color: white;
    background-color: #8FC549;
    border-color: #8FC549;
}

.header-logo img {
	width: 70%;
	max-width: 500px;
}

.header-logo {
	margin-top: 5%;
	margin-bottom: 20%;
}

.hackers-do-bem {
	text-align:right;
}

.hackers-do-bem h1{
	font-size: 102px;
	margin-left: 35%;
	margin-top: -6%; 
	color: #8DC540;	
	font-weight: 400;
}

.sobre-text img{
	width: 100%;
}

.sobre-text  {
	font-weight: 600;
}

.sobre-text h2 {
    color: #8FC549;
}

.hackers-do-bem span{
	color: #E91B20;
}

#verde {
	background-image: url(../img/verde.jpg);
}
